@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.first {
    background-color: #0d2436;
    width: 100%;

}


.img1 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.head {
    color: #cced00;
    font-size: 25px;
    font-weight: bold;
}

.para {
    color: #9aa5b1;
    font-size: 15px;
}

.text {
    color: #9aa5b1;
}

.img {
    color: #9aa5b1;
}

.iconc {
    color: #9aa5b1;
}

.bot {
    background-color: #001c32;
    width: 100%;
}

.text1 {
    color: #9aa5b1;
    font-size: 12px;
}